{% load static %}
<!--
	Full Motion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
    <title>Sua Opinião é Importante!</title>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
</head>
<body id="top">

    <!-- Banner -->
		<section id="banner" data-video="{% static 'images/pico3.jpg' %}">
			<div class="inner">
            <header>
                <h1>Sua Opinião é Importante!</h1>
                <p>Convidamos nossos clientes e gestores a compartilhar suas opiniões sobre nossos colaboradores. Sua avaliação é fundamental para aprimorar nosso serviço e garantir a melhor experiência possível<br>
                {% comment %} designed by <a href="https://templated.co/">Templated</a> and released under the Creative Commons License.</p> {% endcomment %}
            </header>
            <a href="#main" class="more">Learn More</a>
        </div>
    </section>

		<div id="main">
			<div class="inner">
	
					<!-- Boxes -->
					<div class="thumbnails">
							{% for colaborador in colaboradores %}
							<div class="box">
									<a href="{% url 'perfil_colaborador' colaborador.id %}" class="image fit">
											<img src="{{ colaborador.imagem.url }}" alt="{{ colaborador.nome }}" class="colaborador-image">
									</a>
									<div class="inner">
											<h3>{{ colaborador.nome }}</h3>
											<p>{{ colaborador.cargo }}</p>
											<a href="{% url 'avaliar_colaborador' colaborador.id %}" class="button fit" data-poptrox="youtube,800x400">Avaliar</a>
											<a href="{% url 'perfil_colaborador' colaborador.id %}" class="button fit" data-poptrox="youtube,800x400">Ver Perfil</a>
									</div>
							</div>
							{% endfor %}
					</div>
			</div>
	</div>
	
	<style>
			.colaborador-image {
					width: 300px;  /* Largura fixa */
					height: 200px; /* Altura fixa */
					object-fit: cover; /* Cobre o espaço sem distorcer a imagem */
			}
	</style>
	

	
	
    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <h2>A Importância da Avaliação</h2>
            <p>Avaliar o desempenho de nossos colaboradores é crucial para o crescimento e a eficiência da operação. As opiniões de clientes e gestores revelam pontos fortes e áreas que precisam de melhorias. Esses dados nos permitem identificar necessidades de treinamento, aprimorar processos logísticos e reconhecer colaboradores de destaque. Assim, podemos tomar decisões informadas e implementar melhorias contínuas, garantindo uma experiência de serviço ainda melhor.</p>
						<ul class="icons">
							<li><a href="https://wa.me/557798503042" class="icon fa-whatsapp"><span class="label">WhatsApp</span></a></li>
							<li><a href="mailto:hub.esilvestre@hubentregas.com.br" class="icon fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					
        </div>
    </footer>
    <div class="copyright">
        Site made with: <a href="https://templated.co/">SilvestreCode</a>.
    </div>

    <!-- Scripts -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.poptrox.min.js' %}"></script>
    <script src="{% static 'assets/js/skel.min.js' %}"></script>
    <script src="{% static 'assets/js/util.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>
